Package: thefuck-ai
Version: 0.3.0
Architecture: all
Depends: bash, awk, ai
Enhances: bash
Priority: optional
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/thefuck-ai
Description: An AI-powered shell assistent capable of repairing commands
