Package: dafuq
Replaces: thefuck-ai
Version: 0.5.1
Architecture: all
Depends: bash, debconf, coreutils, util-linux, ai
Enhances: bash
Priority: optional
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/dafuq
Description: An AI-powered shell assistent capable of repairing commands
