Package: thefuck-ai
Version: 0.1.0
Architecture: all
Depends: debconf, bash, curl, awk, jq
Priority: optional
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/thefuck-ai
Description: An AI-powered shell assistent
